In [46]:
!pip install faker
import pandas as pd
import uuid
import random
from faker import Faker
import datetime

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: faker in /usr/local/lib/python3.7/dist-packages (15.3.2)
Requirement already satisfied: typing-extensions>=3.10.0.1 in /usr/local/lib/python3.7/dist-packages (from faker) (4.1.1)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)

In [47]:
num_users=5000

In [48]:
# A list of 3 features
features = [
    "IdCalle",
    "Direccion",
    "Tipo_de_via"
]# Creating a DF for these features
df = pd.DataFrame(columns=features)

# IdCalle

In [49]:
df['IdCalle'] = [uuid.uuid4().hex for i in range(num_users)]
print(df['IdCalle'].nunique()==num_users)

True

# Direccion

In [50]:
faker = Faker()
def Calle():
  return faker.address()

df['Direccion'] = [Calle() for i in range(num_users)]

# Tipo_de_via

In [54]:
estado = ["Calle principal", "Escalinatas", "Callejones"]

df['Tipo_de_via'] = random.choices(
    estado, 
    weights=(60,30,10), 
    k=num_users
)

In [55]:
df.to_csv('dataset_Parroquias.csv')

In [56]:
pd.read_csv('dataset_Parroquias.csv', index_col=0)

,IdCalle,Direccion,Tipo_de_via
0,9e606c5cab5f47e0bd448a53968c3434,"7158 Franco Rue\nDarrellberg, AK 97819",Calle principal
1,a432f05e5d2e4547a15a70dc3464b9a0,"423 Jeffrey Trail\nEast Whitney, MD 79032",Calle principal
2,89d1063564a34ec987a96549fded566b,"11445 Alvarez Lake Suite 869\nGilbertside, AK ...",Calle principal
3,2b14f44214464c0584f29a89159dd2a9,"2585 Bradley Route Apt. 886\nWest Cynthia, MO ...",Callejones
4,0577b2c215254878a6485fb2c0569963,"PSC 5391, Box 9534\nAPO AE 31639",Calle principal
...,...,...,...
4995,555f79e794184419835b08a561a307a2,USNV Gomez\nFPO AA 64638,Calle principal
4996,a950ca36d1014206a1ddc43b84102282,"847 Susan Causeway Apt. 908\nWallbury, NE 65137",Calle principal
4997,7a30b75bca4a4d55a394e7edfec8b25f,"76600 Amanda Shores Apt. 179\nWest Heidi, NV 4...",Calle principal
4998,ddf5be65a5eb498c8088791499882c30,"085 Isaac Islands Apt. 161\nSusantown, AR 78240",Calle principal
4999,8337ede60c9d4540a35f04d1e84b6604,"78056 Joel Rue Suite 364\nNorth Jennifer, MP 3...",Calle principal