In [15]:
!pip install faker
import pandas as pd
import uuid
import random
from faker import Faker
import datetime

num_users=5000

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: faker in /usr/local/lib/python3.7/dist-packages (15.3.2)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: typing-extensions>=3.10.0.1 in /usr/local/lib/python3.7/dist-packages (from faker) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)

In [16]:
# A list of 4 features
features = [
    "IdPolicial",
    "Genero",
    "Nombre",
    "Celular"
]# Creating a DF for these features
df = pd.DataFrame(columns=features)

# IdPolicial

In [17]:
df['IdPolicial'] = [uuid.uuid4().hex for i in range(num_users)]

In [18]:
print(df['IdPolicial'].nunique()==num_users)

True

# Genero

In [19]:
generos = ["Masculino", "Femenino", "Otros"]

In [20]:
df['Genero'] = random.choices(
    generos, 
    weights=(52,43,5), 
    k=num_users
)

# Nombre

In [21]:
# Instantiating faker
faker = Faker()

def Nombre_gen(gender):
    """
    Quickly generates a name based on gender
    """
    if gender=='Masculino':
        return faker.name_male()
    elif gender=='Femenino':
        return faker.name_female()
    
    return faker.name()# Generating names for each user
df['Nombre'] = [Nombre_gen(i) for i in df['Genero']]

# Celular

In [24]:
faker = Faker()
def Celular():
  return faker.phone_number()

df['Celular'] = [Celular() for i in range(num_users)]

In [25]:
df.to_csv('dataset_Policia.csv')

In [26]:
pd.read_csv('dataset_Policia.csv', index_col=0)

,IdPolicial,Genero,Nombre,Celular
0,8f99e51e3e6d46fe9956f4d3f2a97cf7,Femenino,Ann Patel,(028)256-9240x48969
1,c9b82bde62a9482ca3763fe9160bb062,Femenino,Holly Kline,362.052.3754
2,e0049b7b83114f94bf0be291e86d5d7b,Masculino,Zachary Gordon,581-833-1750x483
3,3635604514c547e08727177b599a357d,Masculino,Derek Martin,279.404.6062x2613
4,27d6cc5de6154204bda15be494f37603,Femenino,Debra Chase,643.744.1456x9899
...,...,...,...,...
4995,4400016042e240fd802c47c908b8902b,Masculino,Jeff Rivera,640-185-1648x112
4996,197f110e142e4ebf94e6857b26e37074,Femenino,Peggy Kelly,931.659.9027
4997,226c4aec623a4a28b6f9c3341039fa3b,Masculino,Austin Brown,581-141-0999x948
4998,1ff2af929c2e460a917b54c97e94d5db,Masculino,Kenneth Clay,079.253.5738x340
4999,2429b1795f9242119e8d6cb35ef81cbf,Masculino,Parker Livingston,+1-899-572-6804x914