In [1]:
!pip install faker
import pandas as pd
import uuid
import random
from faker import Faker
import datetime

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker
  Downloading Faker-15.3.2-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 16.8 MB/s
Requirement already satisfied: typing-extensions>=3.10.0.1 in /usr/local/lib/python3.7/dist-packages (from faker) (4.1.1)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-15.3.2

In [2]:
num_users = 5000

In [3]:
# A list of 3 features
features = [
    "idCoor",
    "Latitud",
    "Longitud"
]# Creating a DF for these features
df = pd.DataFrame(columns=features)

In [4]:
df['idCoor'] = [uuid.uuid4().hex for i in range(num_users)]

In [5]:
print(df['idCoor'].nunique()==num_users)

True

# Latitud

In [6]:
df['Latitud']= [random.uniform(-0,0.9)for i in range(num_users)]

# Longitud

In [7]:
df['Longitud']= [random.uniform(-79,-78)for i in range(num_users)]

# Resultados

In [8]:
df.to_csv('dataset_Coord.csv')

In [9]:
pd.read_csv('dataset_Coord.csv', index_col=0)

                                idCoor   Latitud   Longitud
0     3f7dc70bb3eb448bbf5b877c30501b87  0.595319 -78.970880
1     da27d7bfd5684c98b4948086f2ecd1d9  0.109623 -78.783877
2     6e165f36148749ef8ca39d77e1c7a06d  0.039082 -78.840028
3     b83ad5ae5791459e9f8a95d7e6a52de1  0.405763 -78.691112
4     15444174ed9f4e41aeaa46a9dd54b3e8  0.520304 -78.182449
...                                ...       ...        ...
4995  b35fa10eb34f451888cf9df44f719b13  0.235223 -78.776888
4996  86940aa15c2544c783aecbdbb1eb8e4f  0.043769 -78.804615
4997  65cd12caa1824388a1844ac1dee20c19  0.749478 -78.734176
4998  0ba6add1a66d4da380e1adebacdd7250  0.332727 -78.872594
4999  fcb3e3d8a8844846b2d9bf73630ea7f8  0.498297 -78.598319

[5000 rows x 3 columns]