In [1]:
!pip install faker
import pandas as pd
import uuid
import random
from faker import Faker
import datetime

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker
  Downloading Faker-15.3.2-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 7.6 MB/s
Requirement already satisfied: typing-extensions>=3.10.0.1 in /usr/local/lib/python3.7/dist-packages (from faker) (4.1.1)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-15.3.2

In [2]:
num_users=5000

In [3]:
# A list of 4 features
features = [
    "IdPrq",
    "Nombre",
    "Status",
    "Codigo Postal"
]# Creating a DF for these features
df = pd.DataFrame(columns=features)

# IdPrq

In [4]:
df['IdPrq'] = [uuid.uuid4().hex for i in range(num_users)]

In [5]:
print(df['IdPrq'].nunique()==num_users)

True

# Status

In [6]:
Estado = ["En vigencia", "No existe"]

In [7]:
df['Status'] = random.choices(
    Estado, 
    weights=(73,27), 
    k=num_users
)

# Nombre

In [8]:
# Instantiating faker
faker = Faker()

def Nombre_parr():
    return faker.last_name_nonbinary()

df['Nombre'] = [Nombre_parr() for i in range(num_users)]

# Codigo Postal

In [10]:
# Instantiating faker
faker = Faker()

def code():
    return faker.postalcode()

df['Codigo Postal'] = [code() for i in range(num_users)]

In [11]:
df.to_csv('dataset_Parroquias.csv')

In [12]:
pd.read_csv('dataset_Parroquias.csv', index_col=0)

                                 IdPrq    Nombre       Status  Codigo Postal
0     59f5ce52fd354ae5b3cb1538e5bdb2cf     Brown    No existe          87977
1     0f28c752850849719b467d73a03ad639   Pacheco  En vigencia          85340
2     3dc91ab4db614e47a7f4ea9f8995ac76     Jones  En vigencia          53388
3     10e0e3e04b644f869763e44c91f153fb   Wallace  En vigencia          24829
4     646ec57290944b0ca8219e8500e43d2d     Weber  En vigencia          16254
...                                ...       ...          ...            ...
4995  990cf252431a4449a7ed1abb074a0de9  Johnston  En vigencia          44915
4996  12926c4eaa2144baa380e7e69ef48a00    Barber    No existe          11336
4997  66b32aa02baf4bfa911d5f3718301853    Howard  En vigencia          85896
4998  e0e02044c0a04720927cd929f6fd6389    Turner  En vigencia          47124
4999  41b8c48fbcf447c9997efdbdd389ee5c    Castro  En vigencia          80793

[5000 rows x 4 columns]